
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.wrapper {
  background: linear-gradient(90deg,rgba(0, 0, 0, 0)0%, rgba(26, 14, 1, 1) 100%);
}
.container {
  width: 1400px;
  margin: 0 auto;
}
header {
  padding: 50px 0;
}
header .Logo,
footer .blocks .logo {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
}
header nav {
  float: right;
  width: 50%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color: #fff;
}
header nav ul li:not(.btn) a:hover {
  border-bottom: 5px solid #DC7000;
}
header nav ul li.btn a, .email .block button {
  background: #FA9021;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 500ms ease;
}
header nav ul li.btn a:hover, .email .block button:hover {
  background: #a02604;
}
.hero {
  padding-bottom: 100px;
}
.hero--info {
  width: 530px;
  padding-top: 70px;
}
.hero--info h2 {
  color: #E87D02;
  font-size: 20px;
  font-weight: 600;
}
.hero--info h1 {
  font-size: 50px;
  font-weight: 600;
}
.hero--info p {
  font-weight: 500;
  line-height: 170%;
  margin: 30px 0;
}
.hero--info .btn,.hero-about .info .btn {
  background: #FA8305;
  color: #fff;
  border-radius: 50px;
  padding: 15px 30px;
  border: 0;
  transition: all 500ms ease;
  font-size: 17px;
}
.hero--info .btn:hover, .hero-about .info .btn:hover {
  cursor: pointer;
  transform: scale(1.1); 

}
/* Секция с играми */
.trending h3 {
    font-weight: 600;
    font-size: 31px;
}
.trending .see-all, .projects .see-all {
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.projects .see-all {
  float: none;
  width: 60px;
  text-align: center;
  margin: 0 auto;

}

.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}
.trending .games {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 50px 0;
    gap: 30px;
}
.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}
.banner {
    padding: 80px 0;

}
.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}
.banner img {
    width: 100%;
    margin-bottom: 30px;
}
/* Секция с изоброжением */
.features {
  background: url('/img/Group-1261154416.jpg') fixed no-repeat center center;
  background-size: cover;
  padding: 80px 0;
}
.features h3,.features p  {
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.features img {
  margin-bottom: 50px;
  margin-left: 300px;
}
.projects {
  padding: 100px 0;
}
.projects h3 {
  font-size: 30px;
  text-align: center;
}
.projects p {
  margin: 40px 0;
  text-align: center;
}
.projects .images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
/* Нижняя часть */
.email {
  padding-bottom: 120px;
}
.email h3 {
  margin-top: 60px;
  font-size: 30px;
}
.email .block {
  background: #1C140F;
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 3%;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.email .block h4 {
  font-size: 30px;
  font-weight: 500;
}
.email .block p {
  width: 500px;
}
.email .block input {
  background: #fff;
  outline: none;
  border: 0;
  border-radius: 5px;
  width: 380px; 
  padding: 20px 30px;
  position: relative;
  right: -105px;
  z-index: 1;
  padding-right: 120px;
}
.email .block button {
  cursor: pointer;
  border: 0;
  padding: 13px 17px;
  position: relative;
  z-index: 2;
  color: #fff;
}
/* Страница про нас */
.hero-about {
  position: relative;
} 
.hero-about .info {
  width: 500px;
  padding: 200px 0;
}
.hero-about .info h1 {
  margin-bottom: 15px;
  font-size: 50px;
}
.hero-about .info p {
  font-size: 20px;
}
.hero-about .info .btn {
  margin-top: 20px;
}
.hero-about img {
  position: absolute;
  right: -40px;
  top: 0;
}
.work {
  padding: 80px 0;
}
.work h2 {
  font-size: 25px;
  margin-bottom: 40px;
}
.work .blocks {
  display: flex;
  justify-content: space-between;
}
.work .blocks .block {
  width: 25%;
  border-radius: 20px;
  padding:50px 35px;
  background: #4e3525;
  color: #fff;
}
.work .blocks .block h3 {
  font-size: 20px;
  margin: 20px 0;
}
.work .blocks .block .badge {
  border-radius: 7px;
  padding: 10px 20px;
}
.work .blocks .block .badge.purple {
  background: #560F67;
}
.work .blocks .block .badge.brown {
  background:#31190D ;
}
.work .blocks .block .badge.green {
  background: #192A1D;
}


/* Footer */
footer {
  background: #000;
  padding: 50px 0;
  color: #fff;
}
footer .blocks {
  display: flex;
  justify-content: space-between;
}
footer .blocks p {
  width: 300px;
  margin: 15px 0;
}
footer .blocks h4 {
  font-weight: 500;
  font-size: 17px;

}
footer .blocks ul {
  list-style: none;
}
footer .blocks ul li {
  margin-top: 7px;
  opacity: 0.8;
}
footer hr {
  margin: 30px 0;
  border: 0;
  height: 0.6px;
  background: #CCC;
}
footer>p {
  text-align: center;
}